<%- include('./header-view') %>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Add MEMOO</a>
      </li>
      <% if (user) { %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout
        </a>
      </li>
      <% }else { %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="<%= url %>" target="_blank" rel="noopener">About</a>
      </li>
    </ul>
  </div>
</nav>
<h1>hello world</h1>
<% if (user) { %>
<h3>
  <%= user %>
</h3>
<% } %>
<%- include('./footer-view') %>